<% if user_signed_in? %>

  <div class="col-md-6 col-md-offset-3">
  <% @tasks.each do |task| %>

    <% if task.completed? %>

      <div class="row task">

        <div class="col-md-8">
          <h2 style="opacity: 0.5;" class="task-title"><strike><%= link_to task.title, task %></strike></h2> <!-- because task corresponds to the show path. -->
          <p style="opacity: 0.5" class="task-description task-sub-title"><%= task.description %></p>
          <p style="opacity: 0.5;" class="time-ago task-sub-title">Completed <%= time_ago_in_words(task.completed_at) %> ago</p>
          <!-- Just going to get the completed_at attribute of the task and it is going to format it using time_ago_in_words. -->
        </div>

        <div class="col-md-2">
          <p><%= link_to complete_task_path(task), method: :patch do %></p>
            <i class="fa fa-lg fa-check"></i>
            <!-- this class is specific to Font Awesome. -->
          <% end %>
        </div>

        <div class="col-md-2">
          <p><%= link_to task, method: :delete, data: { confirm: "Are you sure?" } do %></p>
            <i class="fa fa-lg fa-trash"></i>
            <!-- this class is specific to Font Awesome. -->
          <% end %>
        </div>

      </div>

    <% else %>

      <div class="row task">

        <div class="col-md-8">
          <h2 class="task-title"><%= link_to task.title, task %></h2> <!-- because task corresponds to the show path. -->
          <p class="task-description task-sub-title"><%= task.description %></p>
          <p class="time-ago task-sub-title">Created <%= time_ago_in_words(task.created_at) %> ago</p>
          <!-- Just going to get the completed_at attribute of the task and it is going to format it using time_ago_in_words. -->
        </div>
        
        <div class="col-md-2">    
          <p><%= link_to complete_task_path(task), method: :patch do %></p>
            <i class="fa fa-lg fa-check"></i>
            <!-- this class is specific to Font Awesome. -->
          <% end %>
        </div>

        <div class="col-md-2">
          <p><%= link_to task, method: :delete, data: { confirm: "Are you sure?" } do %></p>
            <i class="fa fa-lg fa-trash"></i>
            <!-- this class is specific to Font Awesome. -->
          <% end %>
        </div>

      </div>

    <% end %>  

  <% end %>
  </div>

<% else %>
  <%= render 'layouts/static_landing_page' %>
<% end %>

<%= link_to "New Task", new_task_path %>